/*========================Configurações gerais======================== */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "inter", sans-serif;
}
body{
    background-color: #f2f3f4;
}

/*========================Cabeçalho da página======================== */

header{
    display: flex;
    justify-content: center;

    padding: 20px 0px 8px 0px;
    background-color: #ff4500;
}
header section{
    color: #fff;
    font-weight: bold;

    display: flex;
    flex-direction: column;
}
header section nav{
    display: flex;
    justify-content: center;
}
header nav a{
    color: #fff;
    text-decoration: none;
    margin-left: 200px;
}
#nav_bar{
    color: #fff;
    font-size: 2em;
    display: none;
}
#nav_bar:hover{
    cursor: pointer;
}
#first_nav{
    margin-left: 0;
}
header section div{
    display: flex;
    justify-content: center;

    width: 800px;
    margin: 20px;
}
#search_button{
    background-color: #fff;
    color: #ff4500;

    border: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 45px;
    width: 50px;
}
#search_button:hover{
    transition: 0.4s;
    background-color: #ff4500;
    color: #fff;
}
#search_bar{
    display: none;
}
#search_bar:hover{
    cursor: pointer;
}
header > div{
    width: 100px;
}
#logo{
    margin-top: 40px;
    width: 100%;
}

#input_search{
    width: 100%;
    
    border: 0;
    font-size: 1.2em;
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#carrinho_img{
    margin-top: 40px;
    width: 40px;
}

/*================================               =============================*/
main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#prod_container{
    display: flex;
    flex-direction: row;

    background-color: #fff;
    margin-top: 30px;
    padding: 20px;
}
#prod_ilustracao{
    display: flex;
    flex-direction: column;

    border-radius: 10px;
    max-width: 450px;
}
#imgs_prod{
    display: flex;
    flex-direction: row;
}
#imgs_lateral{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.img_mini{
    width: 50px;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}
.img_mini:hover{
    cursor: pointer;
}
.img_mini_last{
    width: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}
#img_full > img{
    width: 100%;
    height: 100%;
}
#avaliacao_prod{
    padding: 10px 10px 10px 20px;
}
#avaliacao_prod > i{
    font-size: 0.9em;
    color: #ff4500;
}
#avaliacao_prod > i:hover{
    cursor: pointer;
}
/*Informações do produto lateral das imagens */
#info_prod_valores{
    padding: 20px;

}
#info_prod_valores > h3{
    margin-bottom: 20px;
    font-weight: 100;
    font-size: 1.1em;
}
#valor_avista{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px 30px 30px 30px;
    font-weight: 600;

    background-color: #00830f21;
    color: #00830f;
}

#valor_aprazo > div{
    color: #d10000;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 600;
    padding: 30px 30px 30px 30px;
    background-color: #ca000015;
}
.valor_style{
    font-size: 1.3em;
}
#ver_parcelamento{
    text-decoration: underline;
    font-size: 1.1em;
    background-color: transparent;
    border: 0;
    border-radius: 10px;
    margin: 10px 0px 10px 0px
}
#ver_parcelamento:hover{
    cursor: pointer;
}
#botao_compra{
    border: 0;
    padding: 10px;
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1em;

    background-color: #ff4500;
    color: #fff
}
#botao_compra:hover{
    cursor: pointer;
}

/*=============================Informações do produto=====================*/

#info_prod_container{
    padding: 30px;
    margin-top: 30px;

    background-color: #fff;
    width: 768px;
}
#info_prod_container h3{
    text-align: center;
    margin-bottom: 25px;
    padding: 10px;
}
td, th{
    border-bottom: 1px solid #ccc;
    text-align: left;

    padding: 15px;
}

/*=======================Rodapé da página============================*/

footer{
    padding: 20px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    background-color: #320d00;
    color: #fff;
}
footer b{
    color: #fffb00;
    font-weight: bold;
    font-size: 1.3em;
}
footer nav{
    margin-top: 20px;
    display: flex;
}
footer nav a{
    color: #fff;
    text-decoration: none;
    font-style: italic;
}
footer nav p{
    margin-left: 20px;
}
#aviso{
    font-size: 0.8em;
}

/* =============================== Media queries =============================*/

@media (max-width: 1168px){
    header section div{
        display: flex;
        justify-content: center;
    
        width: 500px;
        margin: 20px;
    }
    header nav a{
        color: #fff;
        text-decoration: none;
        margin-left: 70px;
    }
}
@media (max-width: 767px){
    header{
        justify-content: space-between;
    }
    header nav a{
        display: none;
    }
    header section div{
        display: none;
    }
    header > div{
        width: 100px;
    }
    #tools_header{
        margin-right: 30px;
        width: 150px;
        display: flex;
        justify-content: space-between;
    }
    #search_bar{
        display: block;
        color: #fff;
        font-size: 2em;
    }
    #nav_bar{
        color: #fff;
        font-size: 2em;
        display: block;
    }
    #logo{
        margin: 0;
        padding-bottom: 15px;
        width: 100%;
        margin-left: 30px;
    }
    #carrinho_img{
        padding: 0;
        margin: 0;
    }
}