/*========================Configurações gerais======================== */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "inter";
}
body{
    background-color: #f2f3f4;
}
/*========================Cabeçalho da página======================== */

header{
    display: flex;
    justify-content: center;

    padding: 20px 0px 8px 0px;
    background-color: #ff4500;
}
header section{
    color: #fff;
    font-weight: bold;

    display: flex;
    flex-direction: column;
}
header section nav{
    display: flex;
    justify-content: center;
    padding-top: 8px;
}
header nav a{
    color: #fff;
    text-decoration: none;
    margin-left: 200px;
}

#first_nav{
    margin-left: 0;
}

#logo{
    width: 50%;
    padding-bottom: 10px;
}

/*Lista de produtos*/
#main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#main h1{
    margin: 30px;
    font-size: 2em;

    color: #ff4500;
}

#lista_prod_carrinho{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 840px;
}
#carrinho_conteudo{
    display: flex;
    flex-direction: row;
}

/* Carrinho Informações gerais lateral*/
#informacoes_gerais_carrinho{
    background-color: #fff;

    width: 300px;
    margin: 10px;
    border-radius: 10px;
}
#informacoes_gerais_carrinho h3{
    color: #232323;
    font-size: 1.2em;
    margin-bottom: 20px;
}
#informacoes_gerais_carrinho input{
    border: 2px solid #50505052;
    border-radius: 5px;
    padding: 5px;
}
#informacoes_gerais_carrinho > div{
    margin: 20px;
}
.valor_produtos_container{
    display: flex;
    font-size: 1em;
    margin-bottom: 10px;
}
.valor_produtos{
    margin-left: 10px;
    font-weight: bold;

    color: #232323;
}
.valor_carrinho_total{
    color: #00830f;

    font-weight: bold;
    font-size: 1.5em;
    margin-top: 10px;
}
.frete_resumo{
    margin-bottom: 10px;
}
.frete_valor_container{
    display: flex;
}
.valor_frete{
    margin-left: 10px;
    font-weight: bold;

    color: #232323
}
.search_button_cep{
    border: 2px solid #5050506a;
    background-color: #fff;
    color: #232323;
    border-radius: 5px;
    padding: 5px;
}
.search_button_cep:hover{
    cursor: pointer;
}

.valor_total_container{
    background-color: #00830f21;
    color: #00830f;

    width: 100%;
    text-align: center;
    padding: 20px 0px 20px 0px;
}
#finalizar_compra{
    border: 0;
    padding: 10px;
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1em;

    background-color: #ff4500;
    color: #fff;
}

/*Anuncio do produto */

.produto_carrinho{
    display: flex;
    justify-content: space-around;
    width: 520px;
    background-color: #fff;
    box-shadow: 0px 0px 2px #00000015;

    margin: 10px;
    border-radius: 10px;
    padding: 10px;
}

.produto_carrinho img{
    width: 100px;
    height: 100px;
    margin-right: 20px;
}
.produto_carrinho div{
    display: flex;
    flex-direction: column;
}
.produto_carrinho a{
    text-decoration: none;
    color: #232323;
}
.produto_carrinho a:hover{
    text-decoration: underline;
}
.preco_produto{
    color: #ff4500;

    font-weight: bold;
    font-size: 1.3em;
    margin: 30px 0px 30px 0px;
}
.excluir_produto{
    border: 0;
    width: 70px;
    height: 50px;
    font-weight: bold;
    text-align: center;
    transform: translate(-10px, 25px);

    color: #ca0000;
    background-color: transparent;
}
.excluir_produto:hover{
    color: #f8612a;
    cursor: pointer;
}

.quant_produto_input{
    border: 0;
    width: 30px;
    height: 30px;

    font-size: 1.4em;
}
.container_quant_produto{
    color: #505050;
    font-weight: bold;

    text-align: center;
    margin: 0px 20px 0px 20px;
    display: flex;
    flex-direction: row;
}
.container_quant_produto button{
    width: 30px;
    height: 30px;
    margin: 5px;
    border: 0;
    border-radius: 5px;

    color: #ff4500;
    background-color: transparent;

    font-size: 1em;
    text-align: center;
}
.container_quant_produto button:hover{
    color: #505050;
    cursor: pointer;
}

/*=======================Rodapé da página============================*/

footer{
    padding: 20px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #320d00;
    color: #fff;
}

footer nav{
    margin-top: 20px;
    display: flex;
}
footer nav a{
    color: #fff;
    text-decoration: none;
    font-style: italic;
}
footer nav p{
    margin-left: 20px;
}

/*=================================MEDIA QUERIES============================*/
@media (max-width: 1168px){
    header nav a{
        color: #fff;
        text-decoration: none;
        margin-left: 70px;
    }
}
@media (max-width: 868px){
    header nav a{
        display: none;
    }
    #logo{
        margin: 0;
        padding-bottom: 15px;
    }
}