/*========================Configurações gerais======================== */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "inter";
}
body{
    background-color: #f2f3f4;
}

/*========================Cabeçalho da página======================== */

header{
    display: flex;
    justify-content: center;

    padding: 20px 0px 8px 0px;
    background-color: #ff4500;
}
header section{
    color: #fff;
    font-weight: bold;

    display: flex;
    flex-direction: column;
}
header section nav{
    display: flex;
    justify-content: center;
}
header nav a{
    color: #fff;
    text-decoration: none;
    margin-left: 200px;
}
#first_nav{
    margin-left: 0;
}
header section div{
    display: flex;
    justify-content: center;

    width: 800px;
    margin: 20px;
}
#search_button{
    background-color: #fff;
    color: #ff4500;

    border: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 45px;
    width: 50px;
}
#search_button:hover{
    transition: 0.4s;
    background-color: #ff4500;
    color: #fff;
}
#logo{
    margin-top: 18px;
    width: 100%;
}
#carrinho_img{
    margin-top: 40px;
    width: 40px;
}
#input_search{
    width: 100%;
    
    border: 0;
    font-size: 1.2em;
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

/*======================Estilo do corpo do site=====================*/

#main{
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

/*Barra lateral*/

#painel_lateral{
    background-color: #fff;
    box-shadow: 0px 0px 2px #00000015;

    padding: 15px;
    border-radius: 10px;
    margin: 10px
}
.produto_filtro{
    display: flex;
    flex-direction: column;
}
.produto_filtro p{
    color: #5f5f5f;
    margin: 10px 0px 10px 0px;
    font-weight: bold;
}
select{
    border: 0;
    font-size: 1em;
    margin-bottom: 20px;
}
.titulo_lateral{
    color: #ff4500;
    font-weight: bold;
}

/*Lista de produtos*/

#lista_produtos{
    display: flex;
    flex-wrap: wrap; /* Permite que os produtos quebrem para a próxima linha */
    max-width: 840px;
}
/*Anuncio do produto */

.produto{
    width: 170px;
    background-color: #fff;
    box-shadow: 0px 0px 2px #00000015;

    margin: 10px;
    border-radius: 10px;
    padding: 10px;
}
.produto img{
    width: 100%;
}
.produto:hover{
    transition: 0.4s;
    box-shadow: 0px 0px 20px #00000015;
}

.preco_produto{
    color: #ff4500;

    font-weight: bold;
    font-size: 1.3em;
    margin-top: 30px;
}
.adicionar_carrinho{
    background-color: #ff4500;
    color: #fff;
    font: 1.3em;
    font-weight: bold;

    display: flex;
    justify-content: center;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}
.adicionar_carrinho p{
    margin-left: 10px;
}

/*=======================Rodapé da página============================*/

footer{
    padding: 20px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #320d00;
    color: #fff;
}

footer nav{
    margin-top: 20px;
    display: flex;
}
footer nav a{
    color: #fff;
    text-decoration: none;
    font-style: italic;
}
footer nav p{
    margin-left: 20px;
}

/* =============================== Media queries =============================*/

@media (max-width: 1168px){
    header section div{
        display: flex;
        justify-content: center;
    
        width: 500px;
        margin: 20px;
    }
    header nav a{
        color: #fff;
        text-decoration: none;
        margin-left: 70px;
    }
}
@media (max-width: 868px){
    header nav a{
        display: none;
    }
    header section div{
        display: none;
    }
    #logo{
        margin: 0;
        padding-bottom: 15px;
    }
    #carrinho_img{
        display: none;
    }
    #painel_lateral{
        display: none;
    }
}
@media (max-width: 646px){
    #lista_produtos{
        justify-content: center;
    }
}
