/*========================Configurações gerais======================== */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "inter";
}
body{
    background-color: #f2f3f4;
}

/*========================Cabeçalho da página======================== */

header{
    display: flex;
    justify-content: center;

    padding: 20px 0px 8px 0px;
    background-color: #ff4500;
}
header section{
    color: #fff;
    font-weight: bold;

    display: flex;
    flex-direction: column;
}
header section nav{
    display: flex;
    justify-content: center;
}
header nav a{
    color: #fff;
    text-decoration: none;
    margin-left: 200px;
}
#nav_bar{
    color: #fff;
    font-size: 2em;
    display: none;
}
#nav_bar:hover{
    cursor: pointer;
}
#first_nav{
    margin-left: 0;
}
header section div{
    display: flex;
    justify-content: center;

    width: 800px;
    margin: 20px;
}
#search_button{
    background-color: #fff;
    color: #ff4500;

    border: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 45px;
    width: 50px;
}
#search_button:hover{
    transition: 0.4s;
    background-color: #ff4500;
    color: #fff;
}
#search_bar{
    display: none;
}
#search_bar:hover{
    cursor: pointer;
}
header > div{
    width: 100px;
}
#logo{
    margin-top: 40px;
    width: 100%;
}

#input_search{
    width: 100%;
    
    border: 0;
    font-size: 1.2em;
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#carrinho_img{
    margin-top: 40px;
    width: 40px;
}
/*======================Estilo do corpo do site=====================*/

#main{
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

/*Barra lateral*/

#painel_lateral{
    background-color: #fff;
    box-shadow: 0px 0px 2px #00000015;

    padding: 15px;
    border-radius: 10px;
    margin: 10px
}
.produto_filtro{
    display: flex;
    flex-direction: column;
}
.produto_filtro p{
    color: #5f5f5f;
    margin: 10px 0px 10px 0px;
    font-weight: bold;
}
select{
    border: 0;
    font-size: 1em;
    margin-bottom: 20px;
}
.titulo_lateral{
    color: #ff4500;
    font-weight: bold;
}
#dropdown_filtro{
    display: none;
    color: #ff4500;
    background-color: #fff;

    font-weight: bold;
    padding: 20px;
}
#dropdown_filtro:hover{
    cursor: pointer;
}
#dropdown_filtro i{
    margin-left: 7px;
    padding-top: 1px;
    font-size: 1.3em;
}
/*Lista de produtos*/

#lista_produtos{
    display: flex;
    flex-wrap: wrap; /* Permite que os produtos quebrem para a próxima linha */
    max-width: 870px;
}
.hide{
    display: none;
}
/*Anuncio do produto */

.produto{
    width: 20%;
    background-color: #fff;
    box-shadow: 0px 0px 2px #00000015;

    margin: 10px;
    border-radius: 10px;
    padding: 10px;
}
.produto img{
    width: 100%;
}
.produto:hover{
    transition: 0.4s;
    box-shadow: 0px 0px 20px #00000015;
}
.produto a{
    text-decoration: none;
    color: #000;
}

.preco_produto{
    color: #ff4500;

    font-weight: bold;
    font-size: 1.3em;
    margin-top: 30px;
}


/*=======================Rodapé da página============================*/

footer{
    padding: 20px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #320d00;
    color: #fff;
}

footer nav{
    margin-top: 20px;
    display: flex;
}
footer nav a{
    color: #fff;
    text-decoration: none;
    font-style: italic;
}
footer nav p{
    margin-left: 20px;
}

/* =============================== Media queries =============================*/

@media (max-width: 1168px){
    header section div{
        display: flex;
        justify-content: center;
    
        width: 500px;
        margin: 20px;
    }
    header nav a{
        color: #fff;
        text-decoration: none;
        margin-left: 70px;
    }
}
@media (max-width: 767px){
    #main{
        flex-direction: column;
        margin-top: 10px;
    }
    header{
        justify-content: space-between;
    }
    header nav a{
        display: none;
    }
    header section div{
        display: none;
    }
    header > div{
        width: 100px;
    }
    #tools_header{
        margin-right: 30px;
        width: 150px;
        display: flex;
        justify-content: space-between;
    }
    #search_bar{
        display: block;
        color: #fff;
        font-size: 2em;
    }
    #nav_bar{
        color: #fff;
        font-size: 2em;
        display: block;
    }
    #logo{
        margin: 0;
        padding-bottom: 15px;
        width: 100%;
        margin-left: 30px;
    }
    #carrinho_img{
        padding: 0;
        margin: 0;
    }
    #painel_lateral{
        display: none;
    }
    #dropdown_filtro{
        display: block;
    }
    #lista_produtos{
        justify-content: center;
        width: 100vw;
    }
}
/*Ajudando lista de produtos para não ficar espaçado do lado direito*/
@media (max-width: 1014px){
    .produto{
        width: 33vw;
    }
}
@media (max-width: 867px){
    .produto{
        width: 30vw;
    }
}

