/*========================Configurações gerais======================== */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "inter", sans-serif;
    color: #fff;
}
body{
    background-color: #333130;
}
/*========================Cabeçalho da página======================== */

header{
    display: flex;
    justify-content: space-evenly;

    padding: 20px 0px 20px 0px;
    background-color: #333130;
    font-weight: bold;
}
header a{
    text-decoration: none;
}
header > div{
    width: 100px;
}
header > nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 190px;
}
#register{
    background-color: #ff4500;
    padding: 10px 20px 10px 20px;
}
.space{
    margin-right: 90px;
}
.logo-container{
    display: flex;
    align-items: center;
}
/*Menu Responsivo*/
.menubar{
    font-size: 2em;
    display: none;
}

/*Geral*/
.conteudo_header{
    display: flex;
}
#main{
    display: flex;
    justify-content: center;
}
#carrinho_conteudo{
    display: flex;
    flex-direction: column;
}

/*Lista de produtos*/

#title_carrinho{
    font-size: 1.5em;
    margin-bottom: 10px;
    display: flex;
    justify-content: left;
    width: 67%;
}
#carrinho_img{
    width: 35px;
    height: 35px;
    margin-right: 10px;
}
#title_carrinho h1{
    font-size: 1em;
}

#lista_prod_carrinho{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 840px;
    background-color: #4b4948;
    border-radius: 5px;
}

/* Carrinho Informações gerais lateral*/
#informacoes_gerais_carrinho{
    background-color: #4b4948;
    width: 300px;
    margin-left: 20px;
    border-radius: 5px;
}
#informacoes_gerais_carrinho h3{
    font-size: 1.2em;
    margin-bottom: 20px;
}
#informacoes_gerais_carrinho input{
    border: 2px solid #50505052;
    padding: 5px;
}
#informacoes_gerais_carrinho > div{
    padding: 20px;
}
.valor_produtos_container{
    display: flex;
    font-size: 1em;
    margin-bottom: 10px;
}
.valor_produtos{
    margin-left: 10px;
    font-weight: bold;
}
.valor_carrinho_avista{
    color: #00830f;
    display: flex;
    font-weight: bold;
    font-size: 2em;
}
.valor_total_container{
    color: #d10000;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    padding: 30px 5px 30px 5px;
}
.valor_carrinho_total{
    color: #fa0000;
    font-size: 2em;
}
#valor_aprazo{
    color: #fa0000;
    font-weight: bold;
}
.frete_valor_container{
    display: flex;
}
.valor_frete{
    margin-left: 10px;
    font-weight: bold;
}
.search_button_cep{
    border: 2px solid #5050506a;
    background-color: #fff;
    color: #232323;
    padding: 5px;
}
.search_button_cep:hover{
    cursor: pointer;
}

.valor_avista_container{
    font-weight: 600;
    color: #00830f;
    display: flex;
    flex-direction: column;

    width: 100%;
    padding: 20px 0px 20px 0px;
}
#finalizar_compra{
    border: 0;
    padding: 10px;
    width: 100%;
    margin-top: 20px;
    font-weight: bold;
    font-size: 1em;

    background-color: #ff4500;
}
/*Anuncio do produto */

.produto_carrinho{
    display: flex;
    justify-content: space-around;
    width: 520px;

    margin: 10px;
    padding: 10px;
}
.produto_carrinho img{
    width: 100px;
    height: 100px;
    margin-right: 20px;
}
.produto_carrinho div{
    display: flex;
    flex-direction: column;
}
.produto_carrinho a{
    text-decoration: none;
}
.produto_carrinho a:hover{
    text-decoration: underline;
}
.preco_produto{
    font-weight: bold;
    font-size: 1em;
    margin-top: 10px;
}
.name_produto{
    margin-top: 30px;
}
.excluir_produto{
    color: #f8612a;

    border: 0;
    width: 70px;
    height: 50px;
    font-weight: bold;
    text-align: center;
    transform: translate(-10px, 25px);
    
    background-color: transparent;
}
.excluir_produto > i{
    color: #f8612a;
    margin-bottom: 5px;
}
.excluir_produto:hover{
    color: #f8612a;
    cursor: pointer;
}

.quant_produto_input{
    border: 0;
    width: 30px;
    height: 30px;

    font-size: 1.4em;
}
.container_quant_produto{
    text-align: center;
    margin: 0px 20px 0px 20px;
    display: flex;
    flex-direction: row;
}
.container_quant_produto button{
    width: 30px;
    height: 30px;
    margin: 5px;
    border: 0;
    border-radius: 5px;

    color: #ff4500;
    background-color: transparent;

    font-size: 1em;
    text-align: center;
}
.container_quant_produto button:hover{
    color: #505050;
    cursor: pointer;
}

/*Calcular frete*/
.calcular_frete{
    margin-top: 20px;
    background-color: #4b4948;
    border-radius: 5px;
}
.input_frete{
    display: flex;
    flex-direction: column;
    padding: 20px 40px 40px 40px;
}
.input_frete input{
    width: 100%px;
    margin: 20px 0px 0px 0px;
    padding: 10px;
}
.input_frete h3{
    font-weight: bold;
    font-size: 1.5em;
    width: 100%;
}
/*=======================Rodapé da página============================*/

footer{
    padding: 20px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    background-color: #232221;
    color: #fff;
}
footer b{
    color: #fffb00;
    font-weight: bold;
    font-size: 1.3em;
}
footer nav{
    margin-top: 20px;
    display: flex;
}
footer nav a{
    text-decoration: none;
    font-style: italic;
}
footer nav p{
    margin-left: 20px;
}
#aviso{
    font-size: 0.8em;
}

/*=================================MEDIA QUERIES============================*/

@media (max-width: 940px){
    .produto_carrinho{
        width: 400px;
        height: 100px;
    }
    #lista_prod_carrinho{
        width: 100%;
        display: flex;
        align-items:first baseline;
    }
    .preco_produto{
        margin-top: 20px;
    }
    .conteudo_header{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #informacoes_gerais_carrinho{
        margin: 10px 0px 10px 0px;
    }
    #carrinho_conteudo{
        display: flex;
        width: 90%;
    }
    #informacoes_gerais_carrinho{
        width: 100%;
    }
}
@media (max-width: 767px){
    #logo{
        margin: 0;
        padding-bottom: 15px;
        width: 100%;
        margin-left: 30px;
    }
    header{
        justify-content: space-between;
    }
    header > nav, .login-container{
        display: none;
    }
    .menubar{
        display: block;
    }
}