/*========================Configurações gerais======================== */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}
body{
    background-color: #333130;
}

/*========================Cabeçalho da página======================== */

header{
    display: flex;
    justify-content: space-evenly;

    padding: 20px 0px 20px 0px;
    background-color: #333130;
    font-weight: bold;
}
header a{
    text-decoration: none;
}
header > div{
    width: 100px;
}
header > nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 190px;
}
#register{
    background-color: #ff4500;
    padding: 10px 20px 10px 20px;
}
.space{
    margin-right: 90px;
}
.logo-container{
    display: flex;
    align-items: center;
}
/*Menu Responsivo*/
.menubar{
    font-size: 2em;
    display: none;
}

/*================================               =============================*/
main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#prod_container{
    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: #4b4948;
    margin-top: 30px;
    padding: 20px;
    width: 58vw;
    min-width: 768px;
    border-radius: 5px;
}
#prod_ilustracao{
    display: flex;
    flex-direction: column;

    border-radius: 10px;
    max-width: 30vw;
    min-width: 30vw;;
}
#imgs_prod{
    display: flex;
    flex-direction: row;
}
#imgs_lateral{
    display: flex;
    flex-direction: column;
    padding: 0px 10px 10px 10px;
}
.img_mini{
    width: 50px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.img_mini:hover{
    cursor: pointer;
}
.img_mini_last{
    width: 50px;
    border-radius: 5px;
}
.img_mini_last:hover{
    cursor: pointer;
}

.img_full_container > img{
    width: 100%;
    border-radius: 5px;
}
#avaliacao_prod{
    padding: 10px 10px 10px 75px;
}
#avaliacao_prod > i{
    font-size: 0.9em;
    color: #ff4500;
}
#avaliacao_prod > i:hover{
    cursor: pointer;
}
/*Informações do produto lateral das imagens */
#info_prod_valores{
    padding: 40px 20px 20px 20px;
}
#info_prod_valores .hide{
    display: none;
}
#info_prod_valores > h3{
    margin-bottom: 20px;
    font-weight: 100;
    font-size: 1.1em;
}
.valor_avista{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 30px 30px 30px 0;
}

#valor_aprazo > div{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 30px 30px 30px 0;
}
.valor_style{
    font-weight: 700;
    font-size: 2em;
}
.valor_avista_total{
    color: #00A202;
}
.valor_aprazo_total{
    color: #ff4500;
}
#ver_parcelamento{
    text-decoration: underline;
    font-size: 1.1em;
    background-color: transparent;
    border: 0;
    border-radius: 10px;
    margin: 10px 0px 10px 0px
}
.parcelamentos:hover{ /*alterar cursor no hover do parcelamento*/
    cursor: pointer;
}
.parcelamentos p{
    padding: 5px;
}
.parcelamentos p:hover{
    cursor: pointer;
    text-decoration: underline;
}
#botao_compra{
    border: 0;
    padding: 10px;
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1em;

    background-color: #ff4500;
    color: #fff
}
#botao_compra:hover{
    cursor: pointer;
}

/*=============================Informações do produto=====================*/

#info_prod_container{
    padding: 30px;
    margin-top: 30px;

    background-color: #4b4948;
    width: 768px;
}
#info_prod_container h3{
    text-align: center;
    margin-bottom: 25px;
    padding: 10px;
}
td, th{
    border-bottom: 1px solid #ccc;
    text-align: left;

    padding: 15px;
}

/*=======================Rodapé da página============================*/

footer{
    padding: 20px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    background-color: #320d00;
    color: #fff;
}
footer b{
    color: #fffb00;
    font-weight: bold;
    font-size: 1.3em;
}
footer nav{
    margin-top: 20px;
    display: flex;
}
footer nav a{
    color: #fff;
    text-decoration: none;
    font-style: italic;
}
footer nav p{
    margin-left: 20px;
}
#aviso{
    font-size: 0.8em;
}

/* =============================== Media queries =============================*/

@media (max-width: 1168px){
    header section div{
        display: flex;
        justify-content: center;
    
        width: 500px;
        margin: 20px;
    }
    header nav a{
        color: #fff;
        text-decoration: none;
        margin-left: 70px;
    }
}
@media (max-width: 767px){
    header{
        justify-content: space-between;
    }
    header nav a{
        display: none;
    }
    header section div{
        display: none;
    }
    header > div{
        width: 100px;
    }
    #tools_header{
        margin-right: 30px;
        width: 150px;
        display: flex;
        justify-content: space-between;
    }
    #search_bar{
        display: block;
        color: #fff;
        font-size: 2em;
    }
    #nav_bar{
        color: #fff;
        font-size: 2em;
        display: block;
    }
    #logo{
        margin: 0;
        padding-bottom: 15px;
        width: 100%;
        margin-left: 30px;
    }
    #carrinho_img{
        padding: 0;
        margin: 0;
    }

    /*Produto ilustração*/

    #prod_container{
        flex-direction: column;
    }

}