/*========================Configurações gerais======================== */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "inter";
}
body{
    background-color: #333130;
}

/*========================Cabeçalho da página======================== */

header{
    display: flex;
    justify-content: space-evenly;

    padding: 20px 0px 20px 0px;
    background-color: #333130;
    font-weight: bold;
}
header a{
    text-decoration: none;
    color: #fff;
}
header > div{
    width: 100px;
}
header > nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 190px;
}
#register{
    background-color: #ff4500;
    padding: 10px 20px 10px 20px;
}
.space{
    margin-right: 90px;
}
.logo-container{
    display: flex;
    align-items: center;
}
/*========================Banner==========================*/
.banner{
    display: flex;
    justify-content: center;
}
.banner img{
    width: 100%;
}
/*======================Estilo do corpo do site=====================*/

#main{
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

/*Barra lateral*/

#painel_lateral{
    background-color: #fff;
    box-shadow: 0px 0px 2px #00000015;

    padding: 15px;
    margin: 10px
}
.produto_filtro{
    display: flex;
    flex-direction: column;
}
.produto_filtro p{
    color: #5f5f5f;
    margin: 10px 0px 10px 0px;
    font-weight: bold;
}
select{
    border: 0;
    font-size: 1em;
    margin-bottom: 20px;
}
.titulo_lateral{
    color: #ff4500;
    font-weight: bold;
}
#dropdown_filtro{
    display: none;
    color: #ff4500;
    background-color: #fff;

    font-weight: bold;
    padding: 20px;
}
#dropdown_filtro:hover{
    cursor: pointer;
}
#dropdown_filtro i{
    margin-left: 7px;
    padding-top: 1px;
    font-size: 1.3em;
}
#preco_filtro{
    display: flex;
    flex-direction: column;
}
#preco_filtro p{

    margin-bottom: 10px;
    font-weight: bold;

    color: #5f5f5f;
}
#preco_filtro input{
    width: 100px;
    height: 20px;

    border: 1px solid #5f5f5f;
    border-radius: 5px;
    font-size: 1em;
    padding: 2px;
}
#preco_filtro span{
    font-size: 0.9em;
    margin-bottom: 7px;
}
#preco_filtro span:hover{
    color: #ff4500;
    cursor: pointer;
}

/*Lista de produtos*/

#lista_produtos{
    display: flex;
    flex-wrap: wrap; /* Permite que os produtos quebrem para a próxima linha */
    max-width: 870px;
}
.hide{
    display: none;
}
/*Anuncio do produto */

.produto{
    width: 20%;
    background-color: #fff;
    box-shadow: 0px 0px 2px #00000015;

    margin: 10px;
    padding: 10px;
}
.produto img{
    width: 100%;
}
.produto:hover{
    transition: 0.4s;
    box-shadow: 0px 0px 20px #00000015;
}
.produto a{
    text-decoration: none;
    color: #000;
}

.preco_produto{
    color: #ff4500;

    font-weight: bold;
    font-size: 1.3em;
    margin-top: 30px;
}
#header_prod{
    display: flex;
    justify-content: space-around;

    color: green;
    font-size: 0.8em;
    font-weight: bold;
}
#header_prod i{
    color: #ff4500;
}

/*=======================Banner Marcas====================================*/
#container_banner_marcas{
    margin-top: 40px;
    height: 35vw;
    color: #fff;
}
#banner_marcas{
    display: flex;
    justify-content: center;
}
#banner_marcas img{
    width: 100%;
}
#icones_marcas{
    display: flex;
    justify-content: center;
    transform: translate(0px, -19vw);
}
#icones_marcas img{
    width: 10%;
    margin: 20px;
}
/*=======================Rodapé da página============================*/

footer{
    padding: 20px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #232221;
    color: #fff;
}

footer nav{
    margin-top: 20px;
    display: flex;
}
footer nav a{
    color: #fff;
    text-decoration: none;
    font-style: italic;
}
footer nav p{
    margin-left: 20px;
}

/* =============================== Media queries =============================*/

@media (max-width: 767px){
    #main{
        flex-direction: column;
        margin-top: 10px;
    }

    #tools_header{
        margin-right: 30px;
        width: 150px;
        display: flex;
        justify-content: space-between;
    }
    #search_bar{
        display: block;
        color: #fff;
        font-size: 2em;
    }
    #nav_bar{
        color: #fff;
        font-size: 2em;
        display: block;
    }
    #logo{
        margin: 0;
        padding-bottom: 15px;
        width: 100%;
        margin-left: 30px;
    }
    #painel_lateral{
        display: none;
    }
    #dropdown_filtro{
        display: block;
    }
    #lista_produtos{
        justify-content: center;
        width: 100vw;
    }
}
/*Ajudando lista de produtos para não ficar espaçado do lado direito*/
@media (max-width: 1014px){
    .produto{
        width: 33vw;
    }
}
@media (max-width: 867px){
    .produto{
        width: 30vw;
    }
}

